
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #282a2c;
  color: #ffffff; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.hello {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
  padding: 20px;
  font-size: 32px;
  font-weight: bold;
  background: linear-gradient(80deg, #57ca61, #338AFF, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
  -webkit-background-clip: text; /* Faz o gradiente aplicar-se apenas ao texto */
  -webkit-text-fill-color: transparent; /* Deixa o fundo do texto transparente */
  background-clip: text; /* Compatibilidade com navegadores modernos */
  text-fill-color: transparent; /* Compatibilidade adicional */
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  height: 88vh; /* Ocupa a altura total da tela */
  border-radius: 8px;
  overflow: hidden;
}

.chat-window {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  line-height: 1.5em;
}

.message {
  padding: 10px 15px;
  border-radius: 10px;
  word-wrap: break-word;
  font-size: 16px;
  display: inline-block;
}

.message.user {
  align-self: flex-start; 
  background-color: #47484d;
  color: #ffffff;
}

.message.bot {
  color: #ffffff;
}


.chat-input {
  display: flex;
  height: 80px;
  padding: 15px;
  background-color: #404147;
  border-radius: 20px;
}

.chat-input input {
  flex: 1;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #404147;
  color: white;
}

.chat-input input:focus {
  outline: none;
}

.chat-input button {
  width: 37px;
  height: 37px;
  margin-left: 10px;
  margin-top: 7px;
  background-color: #54595F;
  border: none;
  border-radius: 50%; 
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Estilo quando o botão está ativo (pressionado) */
#sendButton.active {
  background-color: #242725; /* Cor de fundo do botão quando ativo */
  color: white; /* Cor do texto quando pressionado */
  transform: scale(0.95); /* Efeito de botão pressionado */
}

/* Estilo para o botão desativado */
#sendButton:disabled {
  background-color: #393b3d;
  cursor: not-allowed;
}

/* Mensagens do bot */
.message.bot {
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  white-space: pre-wrap; /* Garante quebra de linha */
}

/* Estilização de listas */
.message.bot ul, .message.bot ol {
  margin-left: 20px;
  padding-left: 20px;
}

.message.bot li {
  margin-bottom: 5px;
}


.cursor {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: linear-gradient(80deg, #57ca61, #338AFF, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
  margin-left: 5px;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


